﻿<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
  <div class="container"><a href="#" class="navbar-brand d-flex align-items-center"> <i class="fa fa-snowflake-o fa-lg text-primary mr-2"></i><strong>Music  store</strong></a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
      </ul>
    </div>
  </div>
</nav>

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">@Localizer["About us"]</h1>
        <p class="lead text-muted mb-0">@Localizer["AboutUsText"]</p>
       
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="Icons/guitar.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">@Localizer["ProTeam"]</h2>
        <p class="font-italic text-muted mb-4">@Localizer["ProTeamText"]</p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">@Localizer["LetUsHelp"]</h2>
        <p class="font-italic text-muted mb-4">@Localizer["LetUsHelpText"]</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-12">
        <h2 class="display-4 font-weight-light">@Localizer["Developer"]</h2>
        <p class="font-italic text-muted">@Localizer["DiplomText"]</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-12 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxQM9b_05n8OB6kVzkTliu__T09iLn32IByFu_C2FiEqYQo-sm" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">@Localizer["FIO"]</h5><span class="small text-uppercase text-muted">@Localizer["Developer"]</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://vk.com/korzun99" class="social-link" target="_blank"><i class="fa fa-vk"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/artyom_korzun/" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
     
      <!-- End-->

    </div>
  </div>
</div>


<footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">2022</p>
  </div>
</footer>