﻿@page
@model PersonalDataModel
@{
    ViewData["Title"] = Localizer["Personal Data"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>
            <strong>@Localizer["Deleting this data will permanently remove your account, and this cannot be recovered."]</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">@Localizer["Delete"]</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
