﻿@model MusicStore.WebApp.Models.ItemViewModel
@{
    Layout = null;
}
@using (Html.BeginForm("AddItem", "Item", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Localizer["New item"]</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
            <div class="form-group">
                        <label for="exampleInputEmail1">@Localizer["Name"]</label>
                        <input type="text" id="exampleInputEmail1" class="form-control" placeholder="@Localizer["Enter name"]" asp-for="Name">
                        <span asp-validation-for="Name"></span>

                    </div>
                    <div class="form-group">
                        <label for="examplePrice">@Localizer["Price"]</label>
                        <input type="Text" id="examplePrice" class="form-control" placeholder="@Localizer["Enter price"]" asp-for="Price">
                        <span asp-validation-for="Price"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">@Localizer["Description"]</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="@Localizer["Enter description"]"  asp-for="Description"></textarea>
                            <span asp-validation-for="Description"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Type"]</label>
                        @Html.DropDownListFor(model => model.TypeId, ViewBag.Types as SelectList, new {@class = "form-control"})
                        <span asp-validation-for="TypeId"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <input asp-for="ImageFile" id="input_img" class="form-control" accept="image/*" required>
                            <span asp-validation-for="ImageName"></span>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary" id="btnSave"> @Localizer["Submit"] </button>
            </dl>
        </div>
    </div>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>