﻿@model MusicStore.WebApp.Models.ItemViewModel
@{

}

@using (Html.BeginForm("EditItemPost", "Item", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Localizer["Edit Item"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <div class="form-group">
                            <label for="exampleInputName">@Localizer["Name"]</label>
                            <input type="text" class="form-control" id="exampleInputName" placeholder="@Localizer["Enter name"]" asp-for="Name">
                            <span asp-validation-for="Name"></span>

                        </div>
                        <div class="form-group">
                            <label for="examplePrice">@Localizer["Price"]</label>
                            <input type="Text" class="form-control" id="examplePrice" placeholder="@Localizer["Enter price"]" asp-for="Price">
                            <span asp-validation-for="Price"></span>
                        </div>

                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">@Localizer["Description"]</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="@Localizer["Enter description"]" rows="3" asp-for="Description"></textarea>
                                <span asp-validation-for="Description"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <input asp-for="ImageFile" class="form-control" accept="image/*" >
                                <span asp-validation-for="ImageFile"></span>
                            </div>

                        </div>

                        @Html.HiddenFor(model => model.Id)
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                            <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
                        </div>

                    </dl>
                </div>
            </div>
       
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
   
</script>