﻿@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Bootstrap4.Core
@using Microsoft.AspNetCore.Mvc.Rendering
@model ItemViewModel

@{
    var search = Localizer["Search"];
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark compItem" asp-area="" asp-controller="Item" asp-action="AddItem">@Localizer["Add item"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="ItemType" asp-action="Types">@Localizer["Types"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark compItem" asp-area="" asp-controller="ItemType" asp-action="AddType">@Localizer["Add type"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Item" asp-action="GetExcel" download>@Localizer["Excel"]</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row justify-content-center">
    <div class="col-12">
        <div class="my-2 p-4 bg-white rounded shadow-lg">
            <div class="row align-content-center mb-3">
                <div class="col-4 my-auto">
                    <h5 class="mb-0">@Localizer["List of items"]</h5>
                </div>
            </div>

            <table id="item-tbl" class="table"></table>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteItemModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["Delete item"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                <button id="deleteItemBtn" type="button" class="btn btn-danger">@Localizer["Delete"]</button>
            </div>
        </div>
    </div>
</div>

<div id="editItemModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">

    </div>
</div>
<div id="addItemModal" class="modal" tabindex="-1">
    <div class="modal-dialog" id="dialogContent">
    </div>
</div>

@section Scripts
{
    <script asp-append-version="true" src="~/js/items.js"></script>
    <script>
    const name = '@Html.Raw(Localizer.GetString("Name"))';
    const edit = '@Html.Raw(Localizer.GetString("Edit"))';
    const deleteField = '@Html.Raw(Localizer.GetString("Delete"))';
    const search = '@Html.Raw(Localizer.GetString("Search")):';
    const previous = '@Html.Raw(Localizer.GetString("Previous"))';
    const next = '@Html.Raw(Localizer.GetString("Next"))';
    const showing = '@Html.Raw(Localizer.GetString("Showing"))';
    const of = '@Html.Raw(Localizer.GetString("of"))';
    const to = '@Html.Raw(Localizer.GetString("to"))';
    const entries = '@Html.Raw(Localizer.GetString("entries"))';
    const confirmDelete = '@Html.Raw(Localizer.GetString("Are you sure you want to delete with"))'
    const translateTable = {
        name : name, 
        edit : edit, 
        deleteField : deleteField,
        search : search,
        previous: previous,
        showing: showing,
        next : next,
        "of" : of, 
        to: to, 
        entries: entries,
        confirmDelete: confirmDelete
    }
    
    console.log(translateTable);
        $(document).ready( function () {
            const itemsController = GetItemsController(translateTable);
            itemsController.init();
            
             $(".compItem").click(function (e) {
                                e.preventDefault();
                                $.get(this.href, function (data) {
                                    $('#dialogContent').html(data);
                                    $('#addItemModal').modal('show');
                                });
                            });
        });
     
    </script>
}