﻿@model VizualizationVIewModel

<canvas id="myChart"></canvas>
@Localizer["Product recalls"]

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.esm.min.js" integrity="sha512-ESlgC6ZyzTZdmD7XoDrXJNOqoIugH+FNKg8nAk8sa3cZfFALiV+lo5xoia649oyygwnkKsdUdPAJ+puqGbOs+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
let model = @Html.Raw(Json.Serialize(@Model));
let label = "@Html.Raw(Localizer.GetString("Product recalls"))"
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: model.labels,
        datasets: [{
            label: label,
            backgroundColor: ['blue'],
            borderColor: 'rgb(255, 99, 132)',
            data: model.recallsCount,
        }]
    },

    // Configuration options go here
    options: {}
});

</script>