﻿@model IndexViewModel
@using (Html.BeginForm("GetCart", "Cart", FormMethod.Get, new {enctype = "multipart/form-data"}))
{
  <div class="container">
     @if (Model.Cart.Count == 0)
          {
            <div>
              @Localizer["Your cart is empty. Choose any item "]
            </div>
          }
     else
     {
       <table id="cart" class="table table-hover table-condensed">
         <thead>
         <tr>
           <th style="width:50%">@Localizer["Product"]</th>
           <th style="width:10%">@Localizer["Price"]</th>
           <th style="width:8%">@Localizer["Quantity"]</th>
           <th style="width:10%"></th>
         </tr>
         </thead>
         <tbody>

         @for (int i = 0; i < Model.Cart.Count; i++)
         {
           <tr>
             <td data-th="Product">
               <div class="row">
                 <div class="col-sm-2 hidden-xs"><img src="@("~/image/" + Model.Cart[i].Item.ImageName)" asp-append-version="true" style=" max-width: 100%;   height: auto;" alt="..."/></div>
                 <div class="col-sm-10">
                   <h4 class="nomargin">@Model.Cart[i].Item.Name</h4>

                 </div>
               </div>
             </td>
             <td data-th="Price">@Model.Cart[i].Item.Price</td>
             <td data-th="Quantity">
               @Html.TextBoxFor(m => m.ItemsQuantities[i],
                 new {@min = "1", @max = "10", @type = "number", @id = "Items", @name = "Items", @class = "form-control text-center"})
             </td>
             <td class="actions" data-th="">
               <a asp-controller="cart" asp-action="RemoveCartItem" asp-route-cartId="@Model.Cart[i].Id">@Localizer["Remove"]</a>
             </td>
           </tr>
         }
         </tbody>
         <tfoot>
         <tr>
           <td><button class="btn btn-warning" type="submit" asp-action="Items"> <i class="fa fa-angle-left"></i> @Localizer["Continue shopping"]</button></td>
           <td colspan="2" class="hidden-xs"></td>
           <td><button type="submit" class="btn btn-success btn-block" asp-action="AddOrder">@Localizer["Checkout"] <i class="fa fa-angle-right"></i></button></td>
         </tr>
         </tfoot>
       </table>
     }
   
  </div>
}