@model ItemDetailsViewModel

<style>
            .pre-cost{text-decoration: line-through; color: #a5a5a5;}
            .space-ten{padding: 10px 0;}
        
</style>
<div class="modal-content">
    <div class="modal-header">
        <a href="#" data-dismiss="modal" class="class pull-right">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <h3 class="modal-title">@Localizer["Product details"]</h3>
    </div>
    <div class="modal-body">
        <div id="alertMessage" class="alert alert-danger collapse">
            <a id="linkClose" href="#" class="close">&times</a>
            @Localizer["Product is already in your cart"]
        </div>
        <div id="alertMessageSuccess" class="alert alert-success collapse">
                <a id="linkCloseSuccess" href="#" class="close">&times</a>
            @Localizer["Product added to cart"]
            </div>
        <div class="row">
            <div class="col-md-6 product_img">
                <img src="~/image/@Model.Item.ImageName" class="img-responsive img-fluid">
            </div>
            <div class="col-md-6 product_content">
                <h4>@Localizer["Product"]: <span>@Model.Item.Name</span></h4>
                <div class="rating">
                    (@Localizer["rewiews"]: @Model.Recall.Count)
                </div>
                <p>@Model.Item.Description</p>
                <h3 class="cost"> @Model.Item.Price</h3>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">

                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">

                    </div>
                    <div class="col-md-4 col-sm-12">

                    </div>
                </div>
                <div class="space-ten"></div>
                <div class="btn-ground">
                    <button type="button" class="btn btn-primary btnTooltip" onclick="addToCart(@Model.Item.Id)"><span class="glyphicon glyphicon-shopping-cart">
                        
                    </span>@Localizer["Add to cart"]</button>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div>@Localizer["Write recall"]:</div>
            <textarea class="form-control" id="recallText"></textarea>
            <button class="btn btn-success pull-right mt-2" onclick="writeRecall()">@Localizer["Write"]</button>

        </div>

        @if (@Model.Recall.Count != 0)
        {
            <section style="background-color: #e7effd;" >

        <div class="container my-5 py-5 mt-3 pt-3 text-dark">
            <div class="row d-flex justify-content-left">
                <div class="col-md-11 col-lg-9 col-xl-7">
                    @foreach (var item in Model.Recall)
                    {
                        <div class="mt-3 mb-3 d-flex flex-start">
                            <img
                                class="rounded-circle shadow-1-strong me-3"
                                src="https://i.pinimg.com/originals/ff/a0/9a/ffa09aec412db3f54deadf1b3781de2a.png"
                                alt="avatar"
                                width="65"
                                height="65"/>
                            <div class="card w-100">
                                <div class="card-body p-4">
                                    <div class="">
                                        <h5>@item.User</h5>
                                        <p class="small">@item.Date</p>
                                        @*<p class="small">Rate: @item.Rate <i class="bi bi-star text-secondary"></i></p>*@
                                        <p>
                                            @item.Text
                                        </p>

                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex align-items-center">

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
                            </section>

        }

    </div>
</div>
<script>
 $('#alertMessage').hide();
  $('#alertMessageSuccess').hide();

  $('#linkClose').click(function() {
        $('#alertMessage').hide('fade');
     });
    $('#linkCloseSuccess').click(function() {
          $('#alertMessageSuccess').hide('fade');
       });
$('.btnTooltip').tooltip({ 
                                      animation: false,
                                      title: "Already in cart",
                                      trigger: 'manual'})
   function addToCart(itemId){
                   $.get("/cart/AddToCart/" + itemId, function () {
                                    updateCart();
                                              $('#alertMessageSuccess').show('fade');

                                 }).fail(function (){
          $('#alertMessage').show('fade');

                                 })
             }
             
     function writeRecall(){
         const text = $("#recallText").val();
         const productId = @Model.Item.Id;
         if (text === '')
             return
             
        $.ajax({
            contentType: 'application/json',
            data: JSON.stringify( {
                "text": text,
                "ItemFkId": productId
            }),
            dataType: 'json',
            success: function(data){
            },
            error: function(){
            },
            processData: false,
            type: 'POST',
            url: '/cart/CreateRecall/'
        });
                     alert('Спасибо за отзыв!');
                     $('#product_view').modal('hide');
                        }
    
</script>
