﻿@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Bootstrap4.Core
@model IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    var details = @Localizer["Details"];
    var all = Localizer["All"];
    var priceLabel = ViewBag.PriceSorting == null ? Localizer["Ascending price"].Value : ViewBag.PriceSorting;
}
@using (Html.BeginForm("Items", "Cart", FormMethod.Get, new {@class="form-inline"}))
    {
        <div class="mx-auto p-4">
            @Localizer["Find"]: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new {@class="form-control"})

            @Html.DropDownList("type", new SelectList(ViewBag.Types, "Id", "Type", ViewBag.Type),  new {@class = "form-control"})
            @Html.DropDownList("sortName", new SelectList(ViewBag.PriceSort, "Value", "SortName", ViewBag.PriceSorting),new {@class = "form-control"})

            <input id="scrollBtn" type="submit" value=@Localizer["Search"] class="btn btn-primary"/>
            </div>
    }
<style>
    @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
    
    body {
        font-family: "Poppins", sans-serif;
        color: #444444;
    }
    
    a,
    a:hover {
        text-decoration: none;
        color: inherit;
    }
    
    .section-products {
        padding: 80px 0 54px;
    }
    
    .section-products .header {
        margin-bottom: 50px;
    }
    
    .section-products .header h3 {
        font-size: 1rem;
        color: #fe302f;
        font-weight: 500;
    }
    
    .section-products .header h2 {
        font-size: 2.2rem;
        font-weight: 400;
        color: #444444; 
    }
    
    .section-products .single-product {
        margin-bottom: 26px;
    }
    
    .section-products .single-product .part-1 {
        position: relative;
        height: 290px;
        max-height: 290px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    
    .section-products .single-product .part-1::before {
    		position: absolute;
    		content: "";
    		top: 0;
    		left: 0;
    		width: 100%;
    		height: 100%;
    		z-index: -1;
    		transition: all 0.3s;
    }
    
  
     
    .section-products .single-product .part-1 .discount,
    .section-products .single-product .part-1 .new {
        position: absolute;
        top: 15px;
        left: 20px;
        color: #ffffff;
        background-color: #fe302f;
        padding: 2px 8px;
        text-transform: uppercase;
        font-size: 0.85rem;
    }
    
    .section-products .single-product .part-1 .new {
        left: 0;
        background-color: #444444;
    }
    
    .section-products .single-product .part-1 ul {
        position: absolute;
        bottom: -41px;
        left: 20px;
        margin: 0;
        padding: 0;
        list-style: none;
        opacity: 0;
        transition: bottom 0.5s, opacity 0.5s;
    }
    
    .section-products .single-product:hover .part-1 ul {
        bottom: 30px;
        opacity: 1;
    }
    
    .section-products .single-product .part-1 ul li {
        display: inline-block;
        margin-right: 4px;
    }
    
    .section-products .single-product .part-1 ul li a {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color: #ffffff;
        color: #444444;
        text-align: center;
        box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
        transition: color 0.2s;
    }
    
    .section-products .single-product .part-1 ul li a:hover {
        color: #fe302f;
    }
    
    .section-products .single-product .part-2 .product-title {
        font-size: 1rem;
    }
    
    .section-products .single-product .part-2 h4 {
        display: inline-block;
        font-size: 1rem;
    }
    
    .section-products .single-product .part-2 .product-old-price {
        position: relative;
        padding: 0 7px;
        margin-right: 2px;
        opacity: 0.6;
    }
    
    .section-products .single-product .part-2 .product-old-price::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #444444;
        transform: translateY(-50%);
        
    }
</style>
<div id="product_view" class="modal fade">
    <div id="dialogContent" class="modal-dialog" style="max-width: 800px; width: 100%;"></div>
</div>
@if (Model.Items.Count == 0)
{
    <div>
        @Localizer["Not found"]
    </div>
}
else
{
    
    <section class="section-products">
        <div class="container">
            <div id="alertMessageSuccess" class="alert alert-success collapse">
                    <a id="linkCloseSuccess" href="#" class="close">&times</a>
                    @Localizer["Product added to cart"]
                </div>
            <div class="row justify-content-center text-center">
            </div>
            <div class="row">
                @foreach (var item in Model.Items)
                {
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product" style="">
                            <div class="part-1"
                                 style=" 
                                  background: url('@Url.Content("~/image/" + item.ImageName)') no-repeat center;
                                  background-size: cover;">
                                <ul>
                                    @*<li><a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.Id"><i class="bi bi-cart4"></i></a></li>*@
                                    <li><a id="@item.Id" type="button" class="bi bi-cart4 tooltipItem" onclick="addToCart(@item.Id)"></a></li>
                                    <li>@Html.ActionLink("", "Details",
                                            new {id = item.Id}, new {@class = "compItem bi bi-info-circle"})</li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <h2 class="product-title">@item.Type.Type</h2>
                                <h3 class="product-title">@item.Name</h3>
                                <h4 class="product-price">@item.Price₽</h4>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    
 
}


@section scripts
{
    <script type="text/javascript">
    $('#alertMessageSuccess').hide();
    $('#alertMessageSuccess').click(function() {
            $('#alertMessageSuccess').hide('fade');
         });
  $('.tooltipItem').tooltip({ 
                                      animation: false,
                                      title: "Already in cart",
                                      trigger: 'manual'})
   function addToCart(itemId){
                   $.get("/cart/AddToCart/" + itemId, function () {
                                    updateCart();
                                     $('#alertMessageSuccess').show('fade');
                                    $('html,body').animate({scrollTop:0},800);
                                 }).fail(function (){
                                   $(`#${itemId}`).tooltip('show');
                                   setTimeout(function (){
                                        $(`#${itemId}`).tooltip('hide') 
                                   }, 1000);
                                 

                                 })
             }
        $(function () {
            $.ajaxSetup({ cache: false });
            
          
          
                
           $(".compItem").click(function (e) {
 
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#product_view').modal('show');
                });
            });
        })
    </script>

}

@Localizer["Page"] @(Model.Items.PageCount < Model.Items.PageNumber ? 0 : Model.Items.PageNumber) @Localizer["of"] @Model.Items.PageCount
    
@Html.PagedListPager(Model.Items, page => Url.Action("Items", 
    new { page, sortName = ViewBag.PriceSorting, currentFilter = ViewBag.CurrentFilter, type = ViewBag.Type }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
