﻿@model MusicStore.WebApp.Models.ItemTypeViewModel
@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">@Localizer["New Type"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <form asp-action="AddTypePost" method="post">
                <div class="form-group">
                    <label for="Type">@Localizer["New Type"]</label>
                    <input name="Type" id="Type" class="form-control" asp-for="Type" placeholder="@Localizer["Enter type"]"/>
                    <span asp-validation-for="Type"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                    <button type="submit" class="btn btn-primary">@Localizer["Add"]</button>
                </div>
            </form>
        </dl>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>