﻿@model MusicStore.WebApp.Models.ItemTypeViewModel
@{
    Layout = null;    
}
@using (Html.BeginForm("EditTypePost", "ItemType", FormMethod.Post, new {enctype = "multipart/form-data"})) {
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">@Localizer["Edit Type"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <form action="" method="post">

                <div class="form-group">
                    <label for="exampleInputEmail1">@Localizer["Name"]</label>
                    <input type="text" id="exampleInputEmail1" class="form-control" placeholder="@Localizer["Enter type"]" asp-for="Type">
                    <span asp-validation-for="Type"></span>

                </div>

                @Html.HiddenFor(model => model.Id)
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                    <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
                </div>
            </form>
        </dl>
    </div>
</div>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>