﻿

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="my-2 p-4 bg-white rounded shadow-lg">
                <div class="row align-content-center mb-3">
                    <div class="col-4 my-auto">
                        <h5 class="mb-0">@Localizer["List of types"]</h5>
                    </div>
                </div>

                <table id="item-type-tbl" class="table"></table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteItemModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="deleteItemBtn" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div id="editItemTypeModal" class="modal" tabindex="-1">
        <div class="modal-dialog" id="editContent">
        </div>
    </div>

@section Scripts
{
    <script asp-append-version="true" src="~/js/types.js"></script>
    <script>
     const name = '@Html.Raw(Localizer.GetString("Name"))';
        const edit = '@Html.Raw(Localizer.GetString("Edit"))';
        const deleteField = '@Html.Raw(Localizer.GetString("Delete"))';
        const search = '@Html.Raw(Localizer.GetString("Search")):';
        const previous = '@Html.Raw(Localizer.GetString("Previous"))';
        const next = '@Html.Raw(Localizer.GetString("Next"))';
        const showing = '@Html.Raw(Localizer.GetString("Showing"))';
        const of = '@Html.Raw(Localizer.GetString("of"))';
        const to = '@Html.Raw(Localizer.GetString("to"))';
        const entries = '@Html.Raw(Localizer.GetString("entries"))';
        const confirmDelete = '@Html.Raw(Localizer.GetString("Are you sure you want to delete with"))'
        const translateTable = {
            name : name, 
            edit : edit, 
            deleteField : deleteField,
            search : search,
            previous: previous,
            showing: showing,
            next : next,
            "of" : of, 
            to: to, 
            entries: entries,
            confirmDelete: confirmDelete
        }
        $(document).ready( function () {
            const typesController = GetTypesController(translateTable);
            typesController.init();
            
             $(".compItem").click(function (e) {
                                e.preventDefault();
                                $.get(this.href, function (data) {
                                    $('#dialogContent').html(data);
                                    $('#addItemModal').modal('show');
                                });
                            });
        });
     
    </script>
}