@page
@model LoginModel

<style>
footer {
visibility: collapse;
}
    .divider-text {
        position: relative;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .divider-text span {
        padding: 7px;
        font-size: 12px;
        position: relative;   
        z-index: 2;
    }
    .divider-text:after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #ddd;
        top: 55%;
        left: 0;
        z-index: 1;
    }
    
    .btn-facebook {
        background-color: #405D9D;
        color: #fff;
    }
    .btn-yandex {
        background-color: #fd3232;
        color: #fff;
    }
     .btn-google {
            background-color: #ff4400;
            color: #fff;
        }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="container">

    <div class="card bg-light">
        <div class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">@Localizer["Log in"]</h4>
            <p>
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                switch (provider.DisplayName)
                                {
                                    case "Google":
                                        <button type="submit" class="btn btn-block btn-google" name="provider" value="@provider.Name" title="@provider.DisplayName">
                                            <i class="fab fa-google"></i> @Localizer["Login via Google"]
                                        </button>
                                        break;
                                    case "Facebook":
                                        <button type="submit" class="btn btn-block btn-facebook" name="provider" value="@provider.Name" title=" @provider.DisplayName">
                                            <i class="fab fa-facebook-f"></i> @Localizer["Login via Facebook"]
                                        </button>
                                        break;
                                    case "Yandex":
                                        <button type="submit" class="btn btn-block btn-yandex" name="provider" value="@provider.Name" title="@provider.DisplayName">
                                            <i class="fab fa-yandex"></i> @Localizer["Login via Yandex"]
                                        </button>
                                        break;
                                }
                            }
                        </p>
                    </div>
                </form>
            </p>
            <p class="divider-text">
                <span class="bg-light">@Localizer["OR"]</span>
            </p>
            <form id="account" method="post">

       
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    <input class="form-control" placeholder="@Localizer["Email address"]" type="email" asp-for="Input.Email">
                </div>

               <span asp-validation-for="Input.Password" class="text-danger"></span>
              
                              <div class="form-group input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="fa fa-lock"></i>
                                      </span>
                                  </div>
                                  <input class="form-control" placeholder="@Localizer["Enter password"]" type="password" asp-for="Input.Password">
                              </div>

                 <div class="form-group">
                                @if (@ViewData["Errors"] != null)
                                {
                                    if (ViewData.Values != null && ViewData.Values.Any())
                                    {
                                        foreach (var error in ViewData["Errors"] as List<IdentityError>)
                                        {
                                            <span class="text-danger pt-2">@error.Description</span>
                                        }
                                    }
                                }
                                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">@Localizer["Login"] </button>
                </div> <!-- form-group// -->
                <p class="text-center"><a href="/Identity/Account/Register">@Localizer["Register as a new user"]</a> </p>
            </form>
        </div>
    </div> <!-- card.// -->

</div>

@*<h1>@Localizer["Log in"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>@Localizer["Use a local account to log in"].</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>@Localizer["Password"]</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@Localizer["Log in"]</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">@Localizer["Forgot your password?"]</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["Register as a new user"]</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">@Localizer["Resend email confirmation"]</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>@Localizer["Use another service to log in"].</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
