@page
@model RegisterModel

<style>
footer {
visibility: collapse;
}
    .divider-text {
        position: relative;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .divider-text span {
        padding: 7px;
        font-size: 12px;
        position: relative;   
        z-index: 2;
    }
    .divider-text:after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #ddd;
        top: 55%;
        left: 0;
        z-index: 1;
    }
    
    .btn-facebook {
        background-color: #405D9D;
        color: #fff;
    }
    .btn-yandex {
        background-color: #fd3232;
        color: #fff;
    }
     .btn-google {
            background-color: #ff4400;
            color: #fff;
        }
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">

    <div class="card bg-light">
        <div class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">@Localizer["Create Account"]</h4>
            <p>
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                switch (provider.DisplayName)
                                {
                                    case "Google":
                                        <button type="submit" class="btn btn-block btn-google" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <i class="fab fa-google"></i> @Localizer["Login via Google"]
                                        </button>
                                        break;
                                    case "Facebook":
                                        <button type="submit" class="btn btn-block btn-facebook" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <i class="fab fa-facebook-f"></i> @Localizer["Login via Facebook"]
                                        </button>
                                        break;
                                    case "Yandex":
                                        <button type="submit" class="btn btn-block btn-yandex" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <i class="fab fa-yandex"></i> @Localizer["Login via Yandex"]
                                        </button>
                                        break;
                                }
                            }
                        </p>
                    </div>
                </form>
            </p>
            <p class="divider-text">
                <span class="bg-light">@Localizer["OR"]</span>
            </p>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <span asp-validation-for="Input.Name" class="text-danger"></span>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <input class="form-control" placeholder="@Localizer["Name"]" type="text" asp-for="Input.Name">
                </div>
                <span asp-validation-for="Input.Surname" class="text-danger"></span>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <input class="form-control" placeholder="@Localizer["Surname"]" type="text" asp-for="Input.Surname">
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    <input class="form-control" placeholder="@Localizer["Email address"]" type="email" asp-for="Input.Email">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-building"></i>
                        </span>
                    </div>
                    <input class="form-control" placeholder="@Localizer["Address"]" type="address" asp-for="Input.Address">

                </div> <!-- form-group end.// -->
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <input class="form-control" placeholder="@Localizer["Create password"]" type="password" asp-for="Input.Password">
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <input class="form-control" placeholder="@Localizer["Repeat password"]" type="password" asp-for="Input.ConfirmPassword">
                </div>
                <div class="form-group">
                @if (@ViewData["Errors"] != null)
                {
                    if (ViewData.Values != null && ViewData.Values.Any())
                    {
                        foreach (var error in ViewData["Errors"] as List<IdentityError>)
                        {
                            <span class="text-danger pt-2">@error.Description</span>
                        }
                    }
                }
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> @Localizer["Input"] </button>
                </div> <!-- form-group// -->
                <p class="text-center">@Localizer["Have an account?"] <a href="/Identity/Account/Login">@Localizer["Log in"]</a> </p>
            </form>
        </div>
    </div> <!-- card.// -->

</div>





@section Scripts {

    <partial name="_ValidationScriptsPartial"/>
}