@model UserViewModel
@{
    Layout = null;
}
@using (Html.BeginForm("RemoveUserPost", "Role", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    @Localizer["Are you sure you want to remove"] @Model.Name?
                </dt>
            </dl>
            <div>
                <div class="form-group">
                    <button class="btn btn-primary" data-dismiss="modal" area-hidden="true">@Localizer["Cancel"]</button>
                    <button type="submit" class="btn btn-danger" value="Remove" id="removeUser">@Localizer["Remove"]</button>
                </div>
            </div>
        </div>
        @Html.HiddenFor(model => model.Id)

    </div>
}