﻿@model CreateRole
@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">@Localizer["Create role"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label for="Type">@Localizer["New Role"]</label>
                    <input name="Name" id="Type" class="form-control" asp-for="Name"/>
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">@Localizer["Add"]</button>
                </div>
            </form>
        </dl>
    </div>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>