﻿@using Microsoft.AspNetCore.Identity
@model MusicStore.WebApp.Models.ChangeRoleViewModel
 
@{
    Layout = null;
}
 <div class="modal-content">
     <div class="modal-header">
         <button class="close" data-dismiss="modal" area-hidden="true">X</button>
     </div> 
     <div class="modal-body">
         <dl class="dl-horizontal">
             @using (Html.BeginForm("EditRolePost", "Role", FormMethod.Post, new {enctype = "multipart/form-data"})){

                 <h2>@Localizer["Change role to"] @Model.UserEmail</h2>
                     <input type="hidden" name="id" value="@Model.Id"/>
                     <div class="form-group">
                         @foreach (IdentityRole role in Model.AllRoles)
                         {
                             <input type="checkbox" name="roles" value="@role.Name"
                                    @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "")/>
                             @role.Name
                             <br/>
                         }
                     </div>
                 <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
                 @Html.HiddenFor(model => model.Id)
                }
             
         </dl>
     </div>
 </div>
