﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
<h2>@Localizer["Role list"]</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        @Localizer["Remove"]
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div>
    <button id="createRole" class="btn btn-primary"> @Localizer["Add Role"]</button>
    <a asp-action="UserList" class="btn btn-secondary">@Localizer["User list"]</a>
</div>

<div id="addRoleModal" class="modal " tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" id="dialogContent">
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
         $(document).ready( function () {
             $("#createRole").click(function (){
                    $.ajax({
                 url: '/Role/Create',
                 type: 'Get',
                 success: function (data) {
                  $('#dialogContent').html(data);
                  $('#addRoleModal').modal('show');
                  },
                  error: function (data){
                    console.log(data)
                  }
               })
             })
                
                 
               })
       </script>
}