﻿@model UserViewModel
<h2>@Localizer["User list"]</h2>
<div id="modDialog" class="modal fade" >
    <div id="dialogContent" class="modal-dialog">
        <button class="btn btn-"></button>
    </div>
</div>
<table class="table" id="user-tbl">
    @*<tr>
        <th scope="col">User</th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                @Html.ActionLink("Edit role", "EditRole",
                    new {userId = user.Id}, new {@class = "btn btn-primary compItem"})
            </td>
            <td>
                @Html.ActionLink("Edit user", "EditUser",
                    new {userId = user.Id}, new {@class = "btn btn-secondary compItem"})
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveUser",
                    new {id = user.Id, name = user.Name}, new {@class = "btn btn-danger compItem"})
            </td>
            <td>
                @Html.ActionLink("Change password", "ChangePassword",
                    new {id = user.Id}, new {@class = "btn btn-dark compItem"})
            </td>
        </tr>
    }*@

</table>
@section scripts
{
    <script asp-append-version="true" src="~/js/users.js"></script>
        <script>
          const name = '@Html.Raw(Localizer.GetString("Name"))';
            const surname = '@Html.Raw(Localizer.GetString("Surname"))';
            const search = '@Html.Raw(Localizer.GetString("Search")):';
            const previous = '@Html.Raw(Localizer.GetString("Previous"))';
            const next = '@Html.Raw(Localizer.GetString("Next"))';
            const showing = '@Html.Raw(Localizer.GetString("Showing"))';
            const of = '@Html.Raw(Localizer.GetString("of"))';
            const to = '@Html.Raw(Localizer.GetString("to"))';
            const entries = '@Html.Raw(Localizer.GetString("entries"))';

            const editRole = '@Html.Raw(Localizer.GetString("Edit role"))';
            const editUser = '@Html.Raw(Localizer.GetString("Edit user"))';
            const remove = '@Html.Raw(Localizer.GetString("Remove"))';
            const changePass = '@Html.Raw(Localizer.GetString("Change password"))';

            const confirmDelete = '@Html.Raw(Localizer.GetString("Are you sure you want to delete with"))'
            const translateTable = {
                name : name, 
                surname : surname, 
                search : search,
                previous: previous,
                showing: showing,
                next : next,
                "of" : of, 
                to: to, 
                entries: entries,
                confirmDelete: confirmDelete,
                editRole: editRole,
                editUser: editUser,
                remove: remove, 
                changePass: changePass
            }
            
            $(document).ready( function () {
                  const roleController = GetRoleController(translateTable);
                            roleController.init();
                $.ajaxSetup({ cache: false });
               $(".compItem").click(function (e) {
                    e.preventDefault();
                    $.get(this.href, function (data) {
                        $('#dialogContent').html(data);
                        $('#modDialog').modal('show');
                    });
                });
            })
    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
       <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
       <script type="text/javascript">
           function OnComplete() {
               $("#exampleModal").modal("hide");
           }
       </script>
    

}