﻿    @model UserViewModel
 @using (Html.BeginForm("EditUserPost", "Role", FormMethod.Post, new {enctype = "multipart/form-data"}))
 {
     <div class="modal-content">
         <div class="modal-header">
             <button class="close" data-dismiss="modal" area-hidden="true">X</button>
         </div>
         <div class="modal-body">
             <dl class="dl-horizontal">
                  @using (Html.BeginForm("EditUserPost", "Role", FormMethod.Post, new {enctype = "multipart/form-data"}))
                  {
                      <div class="form-group">
                          <label for="exampleInputName">@Localizer["Name"]</label>
                          <input type="text" class="form-control" id="exampleInputName" 
                                 asp-for="Name">
                          <span style="color: red" asp-validation-for="Name"></span>
                      </div>
                      <div class="form-group">
                          <label for="examplePrice">@Localizer["Surname"]</label>
                          <input type="Text" class="form-control" id="examplePrice" asp-for="Surname">
                          <span style="color: red" asp-validation-for="Surname"></span>
                      </div>
                      <div class="form-group">
                          <label for="examplePrice">@Localizer["Address"]</label>
                          <input type="Text" class="form-control" id="examplePrice" asp-for="Address">
                          <span style="color: red" asp-validation-for="Address"></span>
                      </div>
                      <button type="submit" class="btn btn-primary" CausesValidation="True">@Localizer["Save"]</button>
                      @Html.HiddenFor(model => model.Id)
                  }
             </dl>
         </div>
     </div>
               
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
            
        
        
   


