﻿@model OrderViewModel
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            @{
                decimal? total = 0;
                var id = @Model.Id;
            }
            @foreach (var item in Model.Orders)
            {
                {
                    total += item.Price.Price * item.Count;
                }
                <dt>@Localizer["Model"]: @item.Item.Name</dt>
                <dd>@Localizer["Price"]: @item.Item.Price</dd>
                <dd>@Localizer["Quantity"]: @item.Count</dd>
            }
            <dt>@Localizer["Total price"]: @total</dt>
        </dl>
        <a type="button" class="btn btn-success float-right" href="/order/getcheck?orderId=@id" download>@Localizer["Get check"]</a>
    </div>
</div>
@Html.HiddenFor(model => model.Id)
