﻿@model IndexViewModel


<form >
    
    <h2>@Localizer["Anonymous orders logs"]</h2>

    @using (Html.BeginForm("FinishedAnonymous", "Order", FormMethod.Get))
    {
        <p>
            @Localizer["Find"]: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new {@class = "form-control"})
            <input type="submit" class="btn btn-primary mt-2"  value="@Localizer["Search"]"/>
        </p>
        <a   asp-controller="Order" asp-action="Finished">@Localizer["Back"]</a>
    }
    @if (Model.AnonymousOrders.Count == 0)
    {
        <div>
               @Localizer["Orders list is empty"]
        </div>
    }
    else
    {
        <table class="table">

            <tr>
                <th scope="col">@Html.ActionLink("ID", "FinishedAnonymous", new { sortOrder = ViewBag.Id, currentFilter=ViewBag.CurrentFilter })</th>
                <th scope="col">  @Html.ActionLink(Localizer.GetString("User"), "FinishedAnonymous", new { sortOrder = ViewBag.Email, currentFilter=ViewBag.CurrentFilter })</th>
                <th scope="col">@Html.ActionLink(Localizer.GetString("Order"), "FinishedAnonymous", new { sortOrder = ViewBag.OrderId, currentFilter=ViewBag.CurrentFilter })</th>
                <th scope="col"> @Html.ActionLink(Localizer.GetString("Status"), "FinishedAnonymous", new { sortOrder = ViewBag.Status,currentFilter=ViewBag.CurrentFilter })</th>
                <th scope="col"> @Html.ActionLink(Localizer.GetString("Date"), "FinishedAnonymous", new { sortOrder = ViewBag.Date, currentFilter=ViewBag.CurrentFilter })</th>
       

            </tr>
            @foreach (var item in Model.AnonymousOrders)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Email</td>
                    <td>@item.OrderId</td>
                    <td>@item.Status</td>
                    <td>@item.Date</td>
                </tr>
            }


        </table>
    }
    
    <br />
   @{
          var prevDisabled = !Model.AnonymousOrders.HasPreviousPage ? "disabled" : "";
          var nextDisabled = !Model.AnonymousOrders.HasNextPage ? "disabled" : "";
      }
      <a asp-action="Finished"
         asp-route-pageNumber="@(Model.AnonymousOrders.PageIndex - 1)"
         class="btn btn-default @prevDisabled">@Localizer["Previous"]
      </a>
       <a asp-action="Finished"
             asp-route-pageNumber="@(Model.AnonymousOrders.PageIndex + 1)"
             class="btn btn-default @nextDisabled">@Localizer["Next"]
              </a>

</form>