﻿@model IndexViewModel
<style>
    body {
      min-height: 100vh;
      background: #fafafa;
    }
    
    
    .social-link {
      width: 30px;
      height: 30px;
      border: 1px solid #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #666;
      border-radius: 50%;
      transition: all 0.3s;
      font-size: 0.9rem;
    }
    
    .social-link:hover,
    .social-link:focus {
      background: #ddd;
      text-decoration: none;
      color: #555;
    }
    
    .progress {
      height: 10px;
    }
</style>
@using (Html.BeginForm("GetOrders", "Order", FormMethod.Get, new {enctype = "multipart/form-data"}))
{
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    @if (@Model.UsersOrders.Count == 0)
    {
        <div>
            @Localizer["Your order list is empty"]
        </div>
    }
    else
    {
        <div class="container py-5">

        <div class="row pb-5 mb-4">
                <!-- Card-->
                @foreach (var item in Model.UsersOrders)
                {
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 mt-3">

                        <div class="card shadow-lg border-0 rounded">
                            <div class="card-body p-0">
                                <div class="p-4">
                              
                                    <h5 class="mb-0">@Localizer["Order"] №@item.OrderId</h5>
                                    <p class="small text-muted mt-2">@Localizer["Status"] : @item.Status</p>
                                    <p class="small text-muted">@Localizer["Date"] : @item.Date</p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0">
                                            @Html.ActionLink(Localizer.GetString("Details"), "GetDetails",
                                                new {id = item.OrderId}, new {@class = "compItem btn btn-primary btn-sm"})
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                }
            </div>

        </div>
    }
}
@{
    var prevDisabled = !Model.UsersOrders.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.UsersOrders.HasNextPage ? "disabled" : "";
}
<a asp-action="GetOrders"
   asp-route-pageNumber="@(Model.UsersOrders.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    @Localizer["Previous"]
</a>
<a asp-action="GetOrders"
   asp-route-pageNumber="@(Model.UsersOrders.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    @Localizer["Next"]
</a>

@section scripts
{
    <script type="text/javascript">
 
        $(function () {
            $.ajaxSetup({ cache: false });
           $(".compItem").click(function (e) {
 
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}