﻿@model OrderViewModel
@{
    Layout = null;
}
@using (Html.BeginForm("ChangeStatus", "Order", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div class="modal-content">
        <div class="modal-header">
            @Localizer["Change status"]
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">

                <div class="form-group">
                    <label>@Localizer["Type"]</label>
                    @Html.DropDownListFor(m => m.Status, Model.Status.ToSelectList(), new {@class = "form-control"})

                </div>
                <button type="submit"class="btn btn-primary" id="btnSave"> @Localizer["Submit"] </button>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.UserId)
                @Html.HiddenFor(model => model.Type)
                @Html.HiddenFor(model => model.Email)
                @Html.HiddenFor(model => model.OrderId)
            </dl>
        </div>
    </div>
}