﻿@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Bootstrap4.Core
@using MusicStore.Business.Service_Models
@model IndexViewModel


<form >
    
    <h2>@Localizer["Unproccessed orders"]</h2>

    @using (Html.BeginForm("GetUnproccessed", "Order", FormMethod.Get))
    {
        <p>
            @Localizer["Find"]: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new {@class = "form-control"})
            <input class="btn btn-primary mt-2" type="submit" value="@Localizer["Search"]" />
        </p>
        <a   asp-controller="Order" asp-action="GetUnproccessedAnonymous">@Localizer["Anonymous orders"]</a>
    }
    @if (Model.BootstrapUsersOrders.Count == 0)
    {
        <div>
            @Localizer["Orders list is empty"]
        </div>
    }
    else
    {
        <table class="table">

            <tr>
                <th scope="col">@Html.ActionLink("ID", "GetUnproccessed", new { sortOrder = ViewBag.Id, currentFilter=ViewBag.CurrentFilter })</th>
                <th scope="col">  @Html.ActionLink(Localizer.GetString("User"), "GetUnproccessed", new { sortOrder = ViewBag.UserId, currentFilter=ViewBag.CurrentFilter })</th>
                <th scope="col">@Html.ActionLink(Localizer.GetString("Order"), "GetUnproccessed", new { sortOrder = ViewBag.OrderId, currentFilter=ViewBag.CurrentFilter })</th>
                <th scope="col"> @Html.ActionLink(Localizer.GetString("Status"), "GetUnproccessed", new { sortOrder = ViewBag.Status,currentFilter=ViewBag.CurrentFilter })</th>
                <th scope="col"> @Html.ActionLink(Localizer.GetString("Date"), "GetUnproccessed", new { sortOrder = ViewBag.Date, currentFilter=ViewBag.CurrentFilter })</th>
            

            </tr>
            @foreach (var item in Model.BootstrapUsersOrders)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.User.Email</td>
                    <td>@item.OrderId</td>
                    <td>@item.Status</td>
                    <td>@item.Date</td>
                    <td>@Html.ActionLink(Localizer.GetString("Status"), "ChangeStatus", "Order", new {itemId = item.Id, type = OrderType.Authorized}, new {@class = "btn btn-info compItem"})</td>
                </tr>
            }


        </table>  
    }
    <br />
    <div id="modDialog" class="modal fade" >
        <div id="dialogContent" class="modal-dialog">
            <button class="btn btn-"></button>
        </div>
    </div>
    @Localizer["Page"] @(Model.BootstrapUsersOrders.PageCount < Model.BootstrapUsersOrders.PageNumber ? 0 : Model.BootstrapUsersOrders.PageNumber) @Localizer["of"] @Model.BootstrapUsersOrders.PageCount
    
    @Html.PagedListPager(Model.BootstrapUsersOrders, page => Url.Action("GetUnproccessed", 
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)

</form>
@section Scripts
{
      <script asp-append-version="true" src="~/js/users.js"></script>
            <script>
                $(document).ready( function () {
                  
                    $.ajaxSetup({ cache: false });
                   $(".compItem").click(function (e) {
                        e.preventDefault();
                        $.get(this.href, function (data) {
                            $('#dialogContent').html(data);
                            $('#modDialog').modal('show');
                        });
                    });
                })
        </script>
}
