﻿@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Bootstrap4.Core
@using MusicStore.Business.Service_Models
@model IndexViewModel


<form >
    
    <h2>@Localizer["Unproccessed anonymous orders"]</h2>

    @using (Html.BeginForm("GetUnproccessedAnonymous", "Order", FormMethod.Get))
    {
        <p>
            @Localizer["Find"]: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new {@class = "form-control"})
            <input type="submit" value="@Localizer["Search"]" class="btn btn-primary mt-2" />
        </p>
        <a   asp-controller="Order" asp-action="GetUnproccessed">@Localizer["Back"]</a>
    }
    @if (Model.BootstrapAnonymousOrders.Count == 0)
    {
        <div>
            @Localizer["Orders list is empty"]
        </div>
    }
    else
    {
        <table class="table">

            <tr>
                <th scope="col">@Html.ActionLink("ID", "GetUnproccessedAnonymous", new { sortOrder = ViewBag.Id, currentFilter=ViewBag.CurrentFilter })</th>
                <th scope="col">  @Html.ActionLink(Localizer.GetString("User"), "GetUnproccessedAnonymous", new { sortOrder = ViewBag.Email, currentFilter=ViewBag.CurrentFilter })</th>
                <th scope="col">@Html.ActionLink(Localizer.GetString("Order"), "GetUnproccessedAnonymous", new { sortOrder = ViewBag.OrderId, currentFilter=ViewBag.CurrentFilter })</th>
                <th scope="col"> @Html.ActionLink(Localizer.GetString("Status"), "GetUnproccessedAnonymous", new { sortOrder = ViewBag.Status,currentFilter=ViewBag.CurrentFilter })</th>
                <th scope="col"> @Html.ActionLink(Localizer.GetString("Date"), "GetUnproccessedAnonymous", new { sortOrder = ViewBag.Date, currentFilter=ViewBag.CurrentFilter })</th>

            </tr>
            @foreach (var item in Model.BootstrapAnonymousOrders)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Email</td>
                    <td>@item.OrderId</td>
                    <td>@item.Status</td>
                    <td>@item.Date</td>
                    <td>@Html.ActionLink(Localizer.GetString("Status"), "ChangeStatus", "Order", new {itemId = item.Id, type = OrderType.Anonymous}, new {@class = "btn btn-info compItem"})</td>
                </tr>
            }


        </table>
    }
    
    <br />
    <div id="modDialog" class="modal fade" >
        <div id="dialogContent" class="modal-dialog">
            <button class="btn btn-"></button>
        </div>
    </div>
    @Localizer.GetString("Page") @(Model.BootstrapAnonymousOrders.PageCount < Model.BootstrapAnonymousOrders.PageNumber ? 0 : Model.BootstrapAnonymousOrders.PageNumber) @Localizer.GetString("of") @Model.BootstrapAnonymousOrders.PageCount
    
    @Html.PagedListPager(Model.BootstrapAnonymousOrders, page => Url.Action("GetUnproccessedAnonymous", 
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)

</form>
@section Scripts
{
    <script asp-append-version="true" src="~/js/users.js"></script>
    <script>
                $(document).ready( function () {
                  
                    $.ajaxSetup({ cache: false });
                   $(".compItem").click(function (e) {
                        e.preventDefault();
                        $.get(this.href, function (data) {
                            $('#dialogContent').html(data);
                            $('#modDialog').modal('show');
                        });
                    });
                })
        </script>
}
